<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.RestSpring"
            class="restfulspring.view.views.restSpring.RestFulSpringView"
            icon="icons/sample.png"
            id="RestFulSpringView"
            name="RestSpring"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.RestSpring"
            class="restfulspring.view.views.sqlJson.SqlJsonView"
            icon="icons/sql.png"
            id="SqlJsonView"
            name="SqlJson"
            restorable="true">
      </view>
      <category
            id="com.RestSpring"
            name="RestSpring">
      </category>
   </extension>
   
	   
   <extension
	     point="org.eclipse.ui.preferencePages">
	  <page
	        name="RestSpring"
	        class="restfulspring.preference.MyPreferencesPage"
	        id="RestFulSpringView.preferences">
	  </page>
	</extension>
	
	
	<extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="tool.quickAssist.JavaQuickAssistProcessor"
            id="JavaQuickAssistProcessor"
            name="tool.quickAssist.JavaQuickAssistProcessor">
      </quickAssistProcessor>
   </extension>
	
    <extension point="org.eclipse.ui.menus">
       <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <menu label="RestFulSpring" id="RestFulSpringMenu">
             <command
                   commandId="restspring.generate.correctPackage"
                   label="CorrectPackage"
                   style="push">
             </command>
             <command
                   commandId="restspring.generate.controllerMethod"
                   label="ControllerMethod"
                   style="push">
             </command>
             <command
                   commandId="restspring.generate.serviceMethod"
                   label="ServiceMethod"
                   style="push">
             </command>
             <groupMarker name="group1"></groupMarker>
             <separator name="separator1" visible="true"  groupId="RestFulSpringMenu/group1"></separator>
             <command
                   commandId="restspring.generate.feignFile"
                   label="FeignFile"
                   style="push">
             </command>
            <separator name="separator2" visible="true"  groupId="RestFulSpringMenu/group1"></separator>
             <command
                   commandId="restspring.generate.CopyDto2MybatisFragment"
                   label="CopyDto2MybatisFragment"
                   style="push">
             </command>
              <command
                   commandId="restspring.generate.CopyDTOSetMethods"
                   label="CopyDTOSetMethods"
                   style="push">
             </command>
              <command
                   commandId="restspring.generate.CopyDTOGetMethods"
                   label="CopyDTOGetMethods"
                   style="push">
             </command>
              <command
                   commandId="restspring.generate.CopyDTOSetGetMethods"
                   label="CopyDTOSetGetMethods"
                   style="push">
             </command>
              <command
                   commandId="restspring.generate.CopyDTOJson"
                   label="CopyDTOJson"
                   style="push">
             </command>
          </menu>
       </menuContribution>
    </extension>
    
  
    <extension point="org.eclipse.ui.commands">
       <command
             id="restspring.generate.serviceMethod"
             name="serviceMethod">
       </command>
       <command
             id="restspring.generate.controllerMethod"
             name="controllerMethod">
       </command>
       <command
             id="restspring.generate.correctPackage"
             name="correctPackage">
       </command>
       <command
             id="restspring.generate.feignFile"
             name="feignFile">
       </command>
       <command
             id="restspring.generate.CopyDto2MybatisFragment"
             name="CopyDto2MybatisFragment">
       </command>
       <command
             id="restspring.generate.CopyDTOSetMethods"
             name="CopyDTOSetMethods">
       </command>
       <command
             id="restspring.generate.CopyDTOGetMethods"
             name="CopyDTOGetMethods">
       </command>
       <command
             id="restspring.generate.CopyDTOSetGetMethods"
             name="CopyDTOSetGetMethods">
       </command>
       <command
             id="restspring.generate.CopyDTOJson"
             name="CopyDTOJson">
       </command>
    </extension>


      <extension point="org.eclipse.ui.handlers">
          <handler
                class="tool.method.ServiceMethod"
                commandId="restspring.generate.serviceMethod">
          </handler>
          <handler
                class="tool.method.ControllerMethod"
                commandId="restspring.generate.controllerMethod">
          </handler>
           <handler
                class="tool.correctPackage.CorrectPackage"
                commandId="restspring.generate.correctPackage">
          </handler>
          <handler
                class="tool.feignFile.FeignFile"
                commandId="restspring.generate.feignFile">
          </handler>
          <handler
                class="tool.mybatis.CopyDto2MybatisFragment"
                commandId="restspring.generate.CopyDto2MybatisFragment">
          </handler>
          <handler
                class="tool.mybatis.CopyDTOSetMethods"
                commandId="restspring.generate.CopyDTOSetMethods">
          </handler>
           <handler
                class="tool.mybatis.CopyDTOGetMethods"
                commandId="restspring.generate.CopyDTOGetMethods">
          </handler>
           <handler
                class="tool.mybatis.CopyDTOSetGetMethods"
                commandId="restspring.generate.CopyDTOSetGetMethods">
          </handler>
          <handler
                class="tool.mybatis.CopyDTOJson"
                commandId="restspring.generate.CopyDTOJson">
          </handler>
       </extension>
    	
    	
        	
	
</plugin>
