<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.RestSpring"
            class="restfulspring.view.RestFulSpringView"
            icon="icons/sample.png"
            id="com.restspringview"
            name="RestSpring"
            restorable="true">
      </view>
      <category
            id="com.RestSpring"
            name="RestSpring">
      </category>
   </extension>
   
	   
	   <extension
		     point="org.eclipse.ui.preferencePages">
		  <page
		        name="RestSpring"
		        class="restfulspring.preference.MyPreferencesPage"
		        id="restspring.view.RestFulSpringView.preferences">
		  </page>
		</extension>
</plugin>
