<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.RestFulSpring"
            class="restfulspring.view.RestFulSpringView"
            icon="icons/sample.png"
            id="com.restfulspringview"
            name="RestFulSpring"
            restorable="true">
      </view>
      <category
            id="com.RestFulSpring"
            name="RestFulSpring">
      </category>
   </extension>
   
	   
	   <extension
		     point="org.eclipse.ui.preferencePages">
		  <page
		        name="RestFulSpring"
		        class="restfulspring.preference.MyPreferencesPage"
		        id="restfulspring.view.RestFulSpringView.preferences">
		  </page>
		</extension>
	   
</plugin>
